<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户个人信息页</title>
    <style>
        .divcss5 {
            border: 1px solid #000;
            width: 500px;
            _height: 50px;
            min-height: 50px;
        }
    </style>
</head>
<body>
<input type="button" value="返回首页" onclick="window.location.href='/index/'"></button>
<h1>用户个人信息</h1>
<div>


    <form method="POST" action={% url 'app1:customer_info' %} enctype="multipart/form-data">
    {% csrf_token %}
    <img src="{{ MEDIA_URL }}{{ form.avatar }}" height="200" width="200"><br>
    上传头像：<input type="file" name="avatar" value=“上传” id="item_img" accept="image/jpeg, image/jpg ,image/png"/><br>
    用户名:<input type="text" name="name" value={{ form.name}}><br>
    邮箱:<input type="text" name="email" value={{ form.email }}><br>
    性别：<select name="sex">
        <option value=0 {% if form.sex == 0%} selected="selected" {% endif %}>男</option>
        <option value=1 {% if form.sex == 1%} selected="selected" {% endif %}>女</option>
        <option value=2 {% if form.sex == 2%} selected="selected" {% endif %}>其他</option>
    </select><br>
    钱包余额:<input type="text" name="money" value={{ form.money }}><br>
    <button type="submit">修改信息</button>
    </form>
     密码：
    <input type="button" value="修改密码" onclick="window.location.href='/edit_password/'"></button><br>
     注册时间:{{ form.register_time }}<br>
    <form method="POST" action="{% url 'app1:address' %}">
     {% csrf_token %}
    收货地址:<input type="text" name="address" value="{{ address.content }}">
        {% if address %}
            <input type="hidden" name="address_id" value={{ address.id }}>
            <button type="submit">确认修改</button>
            <input type="button" value="取消修改" onclick="window.location.href='/customer_info/'">
        {% else %}
            <input type="hidden" name="address_id" value=-1>
        <button type="submit">增加地址</button>
        {% endif %}

    </form>

        {% for i in address_set %}
        <div class="divcss5">
            地址 {{ forloop.counter }}  ：{{ i.content }}
            <br>
            <form method="POST" action="{% url 'app1:address' %}">
                {% csrf_token %}
                <input type="hidden" name="address_id" value={{ i.id }}>
                {% if not address %}
                <button type="submit">修改地址</button>
                {% endif %}
                </form>
        </div>
        {% endfor %}

</div>
</body>
</html>
