<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <style>
        .divcss5 {
            border: 1px solid #000;
            width:300px;
            _height: 50px;
            min-height: 50px;
        }
        textarea{
            resize: none;
        }
        a{ text-decoration:none}
        a{color: #000000
        }
        a:hover{color: #3174d0
        }
    </style>
</head>
<body>
<input type="button" value="返回首页" onclick="window.location.href='/index/'"></button>
<h3>用户订单管理</h3>

<div>
    <h4>未处理订单</h4>

    {% for i in order_list1 %}
        <div class="divcss5">
            商品名：{{ i.item.item_name }}<br>
            购买数量：{{ i.number }}<br>
            购买时间:{{ i.create_time }}<br>
            金额：{{ i.sum_price }}<br>
            收货地址：{{ i.address }}<br>
            订单状态：{{ i.get_status_display }}
        <input type="button" value="商品详情" onclick="window.location.href='/good_info/{{ i.item.id }}/'"></button>
        </div>
    {% endfor %}
</div>

<div>
    <h4>待发货</h4>
    {% for i in order_list2 %}
        <div class="divcss5">
            商品名：{{ i.item.item_name }}<br>
            购买数量：{{ i.number }}<br>
            购买时间:{{ i.create_time }}<br>
            金额：{{ i.sum_price }}<br>
            收货地址：{{ i.address }}<br>
            订单状态：{{ i.get_status_display }}
        <input type="button" value="商品详情" onclick="window.location.href='/good_info/{{ i.item.id }}/'"></button>
        </div>
    {% endfor %}
</div>

<div>
    <h4>运输中</h4>
    {% for i in order_list3 %}
        <form method="post" action="{% url 'app1:order_info' %}">
        {% csrf_token %}
        <div class="divcss5">
            <input type="hidden" name="id" value={{ i.id }}>
            商品名：{{ i.item.item_name }}<br>
            购买数量：{{ i.number }}<br>
            购买时间:{{ i.create_time }}<br>
            金额：{{ i.sum_price }}<br>
            收货地址：{{ i.address }}<br>
            订单状态：{{ i.get_status_display }}
        <input type="button" value="商品详情" onclick="window.location.href='/good_info/{{ i.item.id }}/'"></button>
        <button type="submit">确认收货</button>
        </div>
        </form>
    {% endfor %}
</div>

<div>
    <h4>历史订单</h4>
    {% for i in order_list4 %}
        <div class="divcss5">
            商品名：{{ i.item.item_name }}<br>
            购买数量：{{ i.number }}<br>
            购买时间:{{ i.create_time }}<br>
            金额：{{ i.sum_price }}<br>
            收货地址：{{ i.address }}<br>
            订单状态：{{ i.get_status_display }}
            <input type="button" value="商品详情" onclick="window.location.href='/good_info/{{ i.item.id }}/'"></button>
            {% if i.status == 4 %}
            <input type="button" value="评论商品" onclick="window.location.href='/good_info/{{ i.item.id }}/'"></button>
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>
